.card-preview-container {
	margin-bottom: 8px;
	.far,
	.fas {
		color: #6b778c;
		margin: 2px;
		font-size: 12px;
	}
	.card-preview {
		cursor:pointer;
		border-radius: 3px;
		background-color: #fff;
		box-shadow: 0 1px 0 #091e4240;
		min-height: 32px;
		word-wrap: break-word;
		.edit-card {
			display: none;
			color: transparent;
		}
		.card-cover {
			width: 100%;
			min-height: 32px;
			border-radius: 3px 3px 0 0;
		}
		.card-labels {
			flex-wrap: wrap;
			grid-gap: 4px;
			gap: 4px;
			margin-bottom: 5px;
			display: flex;
			min-width: 10px;
			.card-label {
				border-radius: 4px;
			}
			.fade-enter-active,
			.fade-leave-active {
				transition: opacity 0.5s;
			}
		}
		.card-content {
			width: 100%;
			padding: 6px 8px;
			p{
				font-size: 14px;
				margin-bottom: 4px;
				line-height: 1.5;
			}
		}
		.card-icons {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.card-info span{
				padding-inline-end:8px;
				
			}
		}
	}
	.card-preview:hover {
		// Change
		background-color: #e0e0e0;
		.edit-card {
			display: block;
			border: none;
			background: transparent;
			position: absolute;
			right: 0px;
			top: -1px;
			padding: 5px;
			margin: 3px;
			border-radius: 3px;
			width: 27px;
			color: black;
		}
		.edit-card:hover {
			background-color: #d6d6d6;
		}
	}
	.card-edit-container {
		position: absolute;
		z-index: 10;
		form {
			background-color: #fff;
			border-radius: 3px;
			margin: 7px 7px;
			padding: 6px 8px;
			margin-top: 0;
			width: 258px;
		}
		textarea {
			overflow: hidden;
			overflow-wrap: break-word;
			resize: none;
			height: 90px;
			font-family: inherit;
			border: none;
			outline: none;
			border-radius: 3px;
			width: 100%;
		}
		button {
			color: #fff;
			font-family: inherit;
			padding-right: 24px;
			padding-left: 24px;
			height: 32px;
			border: none;
			margin: 1px 8px;
			border-radius: 3px;
			line-height: 30px;
			background-color: #0079bf;
		}
		button:hover {
			background-color: #0070b1;
		}
	}
	.card-actions {
		position: absolute;
		z-index: 10;
		left: 104%;
		width: auto;
		button {
			margin: 5px;
			color: #e6e6e6;
			display: flex;
			border: none;
			background-color: rgba(0, 0, 0, 0.6);
			align-items: center;
			border-radius: 3px;
			height: 34px;
			width: max-content;
			transform: translateX(0);
			transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
			.fas, .far {
				color: #e6e6e6;
				margin-left: 3px;
				margin-right: 10px;
			}
			svg {
				margin-left: 3px;
				margin-right: 10px;
			}
		}
		button:hover {
			background-color: rgba(0, 0, 0, 0.9);
			transition: 0.3s;
		}
	}
}
.open {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	height: 16px;
	padding: 2px 8px;
	line-height: 12px;
	transition: 0.3s;
}
.close {
	width: 40px;
	height: 10px;
}
