* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

body {
	margin: 0;
	color: #172b4d;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0 0 0.6em;
}

p {
	margin: 0;
}

ul {
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

select,
input,
textarea {
	outline: none;
}

/* SCREENS */

.main-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000006b;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.6s;
	z-index: 5;
}

body.details-open .main-screen {
	pointer-events: auto;
	opacity: 1;
}
