* {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #172b4d;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.6em;
}

p {
	margin: 0;
}

ul {
	padding-inline-start: 0;
}

li {
	list-style: none;
}
