.board-app {
	margin: auto;
	max-width: 1000px;
	padding: 10px;
	.board-preview {
		font-size: 16px;
		font-weight: 700;
		cursor: pointer;
		background-color: #091e420a;
		color: #172b4d;
		display: table-cell;
		height: 80px;
		text-align: center;
		vertical-align: middle;
		width: 194px;
		border-radius: 5px;
	}
	.board-preview:hover {
		background-color: #091e422c;
	}
}
