.board-details {
	width: 100vw;
	height: calc(100vh - 40px);
	// background-color: #ebe4ff;
	.groups-container {
		display: flex;
		align-items: start;
		overflow-x: auto;
		height: calc(100vh - 90px);
	}
	.group-add {
		min-width: 272px;
		max-width: 272px;
		color: #fff;
		cursor: pointer;
		display: flex;
		align-items: center;
		border-radius: 3px;
		background-color: hsla(0, 0%, 100%, 0.24);
		padding: 10px 12px;
		transition: background-color 85ms ease-in;
	}
	input {
		outline: none;
		border: none;
		background-color: transparent;
	}
}
