.board-details {
	// padding: 0 5px;
	width: 100vw;
	height: calc(100vh - 40px);
	// background-color: #ebe4ff;
	.groups-container {
		display: flex;
		align-items: start;
		overflow-x: auto;
		height: calc(100vh - 95px);
		padding-right: 5px;
		// width: auto;
	}
	.group-add {
		margin: 0 4px;
		min-width: 272px;
		max-width: 272px;
		color: #fff;
		cursor: pointer;
		display: flex;
		align-items: center;
		border-radius: 3px;
		background-color: hsla(0, 0%, 100%, 0.24);
		padding: 10px 12px;
		transition: background-color 85ms ease-in;
		svg {
			margin-right: 5px;
		}
	}
	.group-add:hover {
		background-color: hsla(0, 0%, 100%, 0.459);
	}
	form {
		width: 272px;
		background-color: #ebecf0;
		border-radius: 3px;
		input {
			padding: 4px 8px 2px;
			border: none;
			border-radius: 3px;
			background-color: #fff;
			box-shadow: inset 0 0 0 2px #0079bf;
			margin: 4px;
			transition: margin 85ms ease-in, background 85ms ease-in;
			height: 36px;
			width: 264px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
				Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}
		.actions-container {
			display: flex;
			align-items: center;
			margin-bottom: 3px;
		}
		.btn-add {
			// width: 80px;
			height: 32px;
			border: none;
			margin: 1px 5px;
			border-radius: 3px;
			line-height: 30px;
		}
		.btn-add:hover {
			background-color: #0070b1;
		}
		.btn-close {
			color: #6b778c;
			cursor: pointer;
		}
		.btn-close:hover {
			fill: black;
		}
	}
	::-webkit-scrollbar {
		width: 15px;
		height: 12px;
	}
	::-webkit-scrollbar-track {
		margin: 0 3px;
		border-radius: 8px;
		background-color: hsla(0, 0%, 100%, 0.459);
	}
	::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: hsla(0, 0%, 100%, 0.459);
	}
	.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
		overflow: unset;
		display: block;
	}
}
