.board-app {
	margin: auto;
	max-width: 1000px;
	padding: 10px;
	padding-top: 0;
	h2 {
		padding-left: 5px;
		margin-top: 10px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	.board {
		cursor: pointer;
		margin: 5px;
		height: 100px;
		width: 235px;
		border-radius: 5px;
	}
	@media (max-width: 400px) {
		.board {
			width: 345px;
		}
	}
	.board-preview {
		font-size: 16px;
		font-weight: 700;
		background-color: #091e420a;
		color: #fff;
		padding: 4px 10px;
	}
	.board-preview:hover {
		opacity: 0.8;
	}
	.board-add {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #091e420a;
		color: #172b4d;
		font-weight: 400;

	}
	.board-add:hover {
		background-color: #091e422c;
	}
	.create-board {
		cursor: unset;
		background-color: #172b4d;
		padding: 4px;
		form {
			display: flex;
			justify-content: space-between;
			input {
				background-color: #fafbfc;
				box-shadow: inset 0 0 0 2px #dfe1e6;
				box-sizing: border-box;
				padding: 8px 12px;
				border: none;
				border-radius: 3px;
				line-height: 20px;
				width: 75%;
			}
			button {
				background-color: #0079bf;
				color: #fff;
				border-radius: 3px;
				transition: background-color .2s;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				border: none;
			}
			button:hover {
				background-color: #0070b1;
			}
		}
	}
}
