.card-details {
    // height: calc(100vh - 40px);
    min-height: 600px;
    width: 768px;
    // padding: 10px;
    background-color: #f4f5f7;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 10;
    .card-details-cover {
        height: 100px;
        width: 100%;
    }
    svg {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50px;
        height: 24px;
        margin-top: 4px;
    }
    a {
        text-decoration: none;
    }
    textarea {
        resize: none;
        outline: none;
        width: 90%;
        font-family: inherit;
    }
    .card-details-header {
        padding: 10px;
        margin: 12px 40px 0px 0px;
        display: flex;
        justify-content: space-between;
        height: 80px;
        header {
            display: flex;
            div {
                margin-left: 10px;
                input {
                    width: 450px;
                }
                form:focus-visible {
                    border: none;
                }
            }
            .group-title {
                text-decoration: underline;
            }
        }
        h2 {
            margin: 0px 0px 0.1em;
        }
        .group-title {
            text-decoration: underline;
        }
        input {
            font-weight: 600;
            font-size: 1.5em;
            box-shadow: inset 0 0 0 2px #0079bf;
            width: 100%;
            padding: 0;
            height: 30px;
        }
        input::placeholder {
            color: #172b4d;
        }
        input,
        form {
            margin: 0;
        }
    }
    .close-btn {
        height: 40px;
        width: 40px;
        color: #404040;
        align-self: start;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: rem(18px);
        border-radius: 50%;
    }
    .data-preview {
        margin-inline-start: 60px;
        margin-bottom: 10px;
        width: 476px;
        h5 {
            color: #5e6c84;
            font-size: 12px;
        }
        .labels-container {
            display: flex;
            gap: 4px;
            grid-gap: 4px;
            flex-wrap: wrap;
            .card-label {
                color: #fff;
                cursor: pointer;
                font-size: 1rem;
                height: 1.5rem;
                padding: 2px 1rem;
                line-height: 1rem;
                border-radius: 4px;
                font-weight: 700;
            }
            .fade-enter-active,
            .fade-leave-active {
                transition: opacity 0.5s;
            }
        }
        .members-container {
            .add-member {
                cursor: pointer;
                background: #eaecf0;
                border-radius: 50%;
                width: 33px;
                height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .add-member:hover {
                background-color: #dcdee2;
            }
        }
    }
    .close-btn:hover {
        background-color: rgba(9, 30, 66, 0.212);
        transition: 0.3s;
    }
    .card-details-main-container {
        padding: 10px;
        display: flex;
        .description-container {
            .actions-desc {
                display: flex;
                align-items: center;
            }
            .add-desc-btn {
                color: #fff;
                font-family: inherit;
                height: 32px;
                border: none;
                margin: 5px 0;
                border-radius: 3px;
                line-height: 30px;
                background-color: #0079bf;
            }
            .add-desc-btn:hover {
                background-color: #0070b1;
            }
            .desc-txt-show {
                background-color: transparent;
                width: 450px;
            }
            .desc-txt-edit {
                width: 98%;
                border: none;
                outline: none;
                border-radius: 3px;
                cursor: pointer;
                padding: 8px 12px;
                resize: none;
                color: #172b4d;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1rem;
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                width: 450px;
                transition: 0.3s;
            }
        }
    }
    .card-details-main {
        height: 520px;
        float: left;
        margin: 0;
        min-height: 24px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 570px;
        z-index: 0;
    }
    .card-details-activity,
    .card-details-desc,
    .card-details-attachment {
        display: flex;
        margin-bottom: 30px;
        main {
            margin-inline-start: 10px;
            width: 90%;
        }
    }
    .card-attachment {
        border-radius: 3px;
        margin: 0 0 8px;
        display: flex;
        .input {
            margin-bottom: 8px;
            border-bottom: 1px solid rgba(9, 30, 66, .13)
        }
        .upload {
            margin-bottom: 8px;
            border-bottom: 1px solid rgba(9, 30, 66, .13);
            label {
                margin-bottom: 8px;
                cursor: pointer;
                padding: 5px 0;
            }
            label:hover {
                background-color: #dcdee2;
            }
        }
        .input {
            margin: 4px 0 12px;
            width: 100%;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            padding: 8px 12px;
            color: #172b4d;
            font-size: 14px;
        }
        .input:hover {
            box-shadow: inset 0 0 0 2px #0079bf;
        }
        img {
            height: 100px;
            border-radius: 3px;
        }
        .attachment-title {
            color: inherit;
            word-wrap: break-word;
            font-weight: 700;
        }
        .attachment-actions {
            color: #5e6c84;
            .attachment-action {
                cursor: pointer;
                text-decoration: underline;
                margin-left: 3px;
                margin-right: 3px;
            }
            .attachment-action:hover {
                color: #303744;
            }
        }
        .card-attachment:hover {
            background-color: #eaecf0;
        }
    }
    .card-checklist {
        label {
            color: #5e6c84;
            font-size: 14px;
            font-weight: 700;
        }
        input {
            margin: 4px 0 12px;
            width: 100%;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            padding: 8px 12px;
            color: #172b4d;
            font-size: 14px;
        }
        input:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }
    .btn-action-list {
        color: #fff;
        font-family: inherit;
        border: none;
        padding: 0 15px;
        border-radius: 3px;
        line-height: 30px;
        background-color: #0079bf;
    }
    .btn-action-list:hover {
        background-color: #0070b1;
    }
    .card-details-sidebar {
        width: 30%;
    }
    .add-to-card {
        .action-svg {
            width: 30px;
            height: 16px;
            margin-right: 10px;
        }
        .add-to-card-title {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin: 16px 5px 7px;
        }
        .action-div {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin: 5px;
            border: none;
            border-radius: 3px;
            color: #172b4d;
            font-size: 14px;
            line-height: 20px;
            padding: 6px 10px;
            transition: background-color, border-color, box-shadow 85ms ease;
            background-color: rgba(9, 30, 66, 0.0392156862745098);
        }
        .action-div:hover {
            background-color: rgba(9, 30, 66, 0.212);
        }
    }
}

.card-details-main-container {
    display: flex;
}

.card-details-main {
    height: 520px;
    float: left;
    margin: 0;
    min-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 570px;
    z-index: 0;
}

.card-details-activity {
    .activity-area {
        box-shadow: inset 0 0 0 1px rgb(9 30 66 / 13%);
        width: 450px;
        background-color: #fff;
        padding: 2px;
    }
    .activity-txtarea {
        border: none;
        width: 100%;
        background-color: #fff;
        width: 445px;
    }
    .activity-area:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    li {
        margin: 5px 0;
    }
}

.activities {
    margin-top: 20px;
    .comments {
        padding: 8px 12px;
        box-shadow: inset 0 0 0 1px rgb(9 30 66 / 13%);
        width: 450px;
        background-color: #fff;
    }
}

.card-details-activity,
.card-details-desc {
    display: flex;
    margin-bottom: 30px;
    main {
        margin-inline-start: 10px;
        width: 90%;
    }
    button {
        color: #fff;
        font-family: inherit;
        height: 32px;
        border: none;
        margin: 10px 10px;
        border-radius: 3px;
        line-height: 30px;
        background-color: #0079bf;
        width: 50px;
    }
    textarea {
        width: 98%;
        border: none;
        outline: none;
        border-radius: 3px;
        background-color: #eaecf0;
        cursor: pointer;
        padding: 8px 12px;
        resize: none;
        color: #172b4d;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
    }
    textarea:focus {
        background-color: #fff;
    }
}

// Fix!
.members-container {
    display: flex;
}

.card-details-sidebar {
    width: 30%;
}

.add-to-card {
    .action-svg {
        width: 30px;
        height: 16px;
        margin-right: 10px;
    }
    .add-to-card-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        margin: 16px 5px 7px;
    }
    .action-div {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 5px;
        border: none;
        border-radius: 3px;
        color: #172b4d;
        font-size: 14px;
        line-height: 20px;
        padding: 6px 10px;
        transition: background-color, border-color, box-shadow 85ms ease;
        background-color: rgba(9, 30, 66, 0.0392156862745098);
    }
    .action-div:hover {
        background-color: rgba(9, 30, 66, 0.212);
    }
}