.dashboard {
    background-color: hsla(0, 0%, 100%, 0.609);
    .charts-container {
        button {
            border: none;
            background-color: transparent;
            position: absolute;
            top: 43px;
            right: 0;
            font-size: 1.4em;
            color: #404040
        }
        display: flex;
        justify-content: space-evenly;
        .chart,
        .pie-chart {
            width: 30%
        }
    }
}