.home-page {
    h1 {
        // margin: 0;
        // font-family: Charlie, sans-serif;
        // font-size: 150px;
        // font-weight: 600;
        // letter-spacing: 0.15em;
        // color: #cecbcb;
        // text-shadow: 0.5px 0.5px 2px black;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
    }
}