.group-preview {
    // max-height: 100%;
    border-radius: 3px;
    min-width: 272px;
    max-width: 272px;
    background-color: #ebecf0;
    margin: 0 4px;
    h2 {
        font-size: 1rem;
    }
    .group-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .remove-btn {
        border: none;
        direction: ltr;
    }
    .menu-btn {
        background-color: transparent;
        border: none;
    }
    .group-menu {
        position: absolute;
        width: 304px;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
        background-color: #fff;
        z-index: 10;
        h3 {
            padding-bottom: 10px;
            font-size: 14px;
            color: #5e6c84;
            margin: 0;
            align-items: center;
            text-align: center;
            color: #5e6c84;
            display: block;
            line-height: 40px;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            margin: 0 0 12px;
            overflow: hidden;
            padding: 0 32px;
            position: relative;
            text-overflow: ellipsis;
            margin: 0;
        }
        .close-svg {
            padding: 5px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
        .archive-group {
            padding: 10px;
            cursor: pointer;
        }
        .archive-group:hover {
            background-color: #f0f0f0a2;
        }
    }
    .card-add-container {
        border-radius: 3px;
        color: #5e6c84;
        display: block;
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        position: relative;
        cursor: pointer;
        max-width: 300px;
        margin: 6px 8px;
        margin-bottom: 9px;
        p {
            margin-left: 5px;
        }
    }
    .card-add-container:hover {
        background-color: #dddddf;
    }
    textarea {
        resize: none;
        font-family: inherit;
        border: none;
        outline: none;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgb(22 24 27 / 25%);
        height: 66px;
        width: 256px;
        margin: 4px 8px;
        padding: 6px 8px 2px;
        margin-bottom: 3px;
    }
    .btn-add {
        color: #fff;
        font-family: inherit;
        width: 80px;
        height: 32px;
        border: none;
        margin: 1px 8px;
        border-radius: 3px;
        line-height: 30px;
        background-color: #0079bf;
    }
    .btn-add:hover {
        background-color: #0070b1;
    }
    .actions-container {
        display: flex;
        align-items: center;
        margin-bottom: 9px;
    }
    .btn-close {
        color: #6b778c;
        cursor: pointer;
    }
    .btn-close:hover {
        fill: black;
    }
    .placeholder {
        //  background-color: rgba(150, 150, 200, 0.1);
        //  margin: 1rem 2rem 1rem 0.3rem;
        background-color: rgba(33, 33, 33, 0.08);
        border-radius: 4px;
        transform: scaleY(0.85);
        transform-origin: 0% 0%;
    }
}