.group-preview {
    max-height: 100%;
    border-radius: 3px;
    min-width: 272px;
    max-width: 272px;
    background-color: #ebecf0;
    margin: 0 4px;
    // overflow-y: scroll;
    max-height: calc(100vh - 110px);
    h2 {
        font-size: 1rem;
    }
    .group-header {
        color: #172b4d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 20px;
        padding: 6px 8px;
        h2 {
            margin: 0;
            cursor: pointer;
            width: 230px;
            padding: 5px;
            margin: 1px 0;
            margin-bottom: -4px;
            font-size: rem(18px);
            font-weight: 600;
        }
        input {
            color: #172b4d;
            padding: 5px;
            margin: 1px 0;
            margin-bottom: -4px;
            width: 230px;
            font-size: rem(18px);
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #0079bf;
            border-radius: 3px;
            height: 29px;
        }
    }
    .remove-btn {
        border: none;
        direction: ltr;
    }
    .menu-btn {
        background-color: transparent;
        border: none;
        padding-top: 10px;
    }
    .dynamic-popover {
        top: 130px;
        h3 {
            margin: 2px;
        }
        .close-svg {
            padding: 5px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
        .list-action {
            padding: 10px;
            cursor: pointer;
        }
        .list-action:hover {
            background-color: #f0f0f0a2;
        }
    }
    .card-add-container {
        border-radius: 3px;
        color: #5e6c84;
        display: block;
        display: flex;
        align-items: center;
        flex: 1 0 auto;
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        position: relative;
        cursor: pointer;
        max-width: 300px;
        margin: 6px 8px;
        margin-bottom: 9px;
        p {
            margin-left: 5px;
        }
    }
    .card-add-container:hover {
        background-color: #dddddf;
    }
    .card-add-textarea {
        resize: none;
        font-family: inherit;
        border: none;
        outline: none;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgb(22 24 27 / 25%);
        height: 66px;
        width: 260px;
        margin: 0 5px;
        padding: 6px 8px 2px;
        margin-bottom: 3px;
    }
    .btn-add {
        color: #fff;
        font-family: inherit;
        padding-right: 24px;
        padding-left: 24px;
        height: 32px;
        border: none;
        margin: 1px 8px;
        border-radius: 3px;
        line-height: 30px;
        background-color: #0079bf;
    }
    .btn-add:hover {
        background-color: #0070b1;
    }
    .actions-container {
        display: flex;
        align-items: center;
        margin-bottom: 9px;
    }
    .btn-close {
        color: #6b778c;
        cursor: pointer;
    }
    .btn-close:hover {
        fill: black;
    }
    .placeholder {
        //  background-color: rgba(150, 150, 200, 0.1);
        //  margin: 1rem 2rem 1rem 0.3rem;
        background-color: rgba(33, 33, 33, 0.08);
        border-radius: 4px;
        transform: scaleY(0.85);
        transform-origin: 0% 0%;
    }
}