.card-dates {
	max-height: 370px;
	overflow-y: scroll;
	text-align: center;
	.el-calendar__header{
		font-weight: 600;
		display: block;
		padding: 5px 20px;
    	border-bottom: 1px solid #EBEEF5;
	}
	.el-button-group{
		display: flex;
		display: none;
		justify-content: space-between;
		position:static;
		width: 100%;
		margin: 10px 0;
		.el-button{
			padding: 5px;
		}
	}
	.el-calendar__body{
		padding: 5px 20px;
	}
	.el-calendar-table  {
		th{
			padding: 6px 0;
		}
		.el-calendar-day{
			height: 40px;
			padding: 10px;

		}
	}
}