.board-menu {
	position: absolute;
	top: 40px;
	right: -10px;
	background-color: #f4f5f7;
	height: calc(100vh - 40px);
	width: 350px;
	padding: 0 15px;
	border-left: 1px solid #dcdfe5;
	color: #172b4d;
	z-index: 1;
	hr {
		border-top: 0.5px solid #dcdfe5;
	}
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		padding: 0 6px 0 12px;
		width: 100%;
		border-bottom: 1px solid #dcdfe5;
		a {
			cursor: pointer;
			position: absolute;
			font-size: 20px;
			right: 15px;
			top: 8px;
			float: right;
		}
		h3 {
			color: #a1a8ab;
			background-color: transparent;
			margin: 0;
		}
	}
	li {
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		.icon {
			margin: 10px;
			&.bgc {
				background-color: #838c91;
				border-radius: 3px;
				height: 20px;
				width: 20px;
			}
		}
		h4 {
			width: 100%;
			margin: 0;
		}
	}
	li:hover {
		border-radius: 3px;
		background-color: rgba(226, 228, 233, 255);
	}
	.color-palette {
		// margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		// width: 330px;
		.color {
			width: 100px;
			height: 75px;
			margin: 3px;
			border-radius: 5px;
			cursor: pointer;
		}
		.color:hover {
			opacity: 0.5;
		}
	}
	.activity-preview {
		padding: 8px 0;
		display: flex;
		img {
			height: 32px;
			border-radius: 50%;
		}
		img:hover {
			opacity: 0.7;
		}
		.member-name {
			font-weight: bold;
		}
		.activity-preview-content {
			margin-left: 10px;
		}
	}
}
