.menu {
	display: flex;
}

.board-nav {
	padding: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	@media (max-width: $mobile-breakpoint) {
		.el-avatar {
			display: none;
		}
		.board-title {
			h3 {
				width: 115px;
			}
		}
	}
	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.5s;
	}
	.fade-enter,
	.fade-leave-to {
		opacity: 0;
	}
	main{
		width: 100%;
	}
	main,
	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
        h3{
            padding-inline-start: 4px;
        }
		button,
		h3 {
			display: block;
			min-width: 32px;
			height: 32px;
			border-radius: 3px;
			border: none;
			background-color: hsla(0, 0%, 100%, 0.3);
			color: #fff;
			align-items: center;
			display: flex;
			font-weight: 700;
			line-height: 32px;
			white-space: nowrap;
			transition: 0.15s;
			cursor: pointer;
		}
		button:hover,
		h3:hover {
			background-color: hsla(0, 0%, 100%, 0.459);
		}
		.starred {
			color: gold;
		}
	}
	.board-title {
		form {
            padding: 0;
			width: 192px;
			input {
				width: inherit;
				font-weight: 600;
				font-size: 16.38px;
				height: 30px;
                padding:3px;
			}
		}
		input::placeholder {
			color: #172b4d;
		}
		h3 {
			margin: 0;
			width: 192px;
			color: white;
		}
		@media (max-width: 550px) {
			form,
			input,
			h3 {
				width: 115px;
			}
		}
	}
    .members-container{
        .member {
            margin-inline-end: 0;
            margin: 0 -1px;
            line-height: 5px;
            .el-avatar {
                img:hover {
                    opacity: 0.7;
                }
            }
        }
    }
	section > :not(last-child) {
		margin-inline-end: 10px;
	}
    
}
