.menu {
	display: flex;
}

.board-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    // padding: 5px;
    @media (max-width: $mobile-breakpoint) {
        .el-avatar {
            display: none;
        }
        select {
            margin: 0 1px;
        }
        .board-title {
            h3 {
                width: 115px;
            }
        }

    }
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    button,
    select,
    h3 {
        height: 32px;
        min-width: 32px;
        padding: 4px;
        background-color: hsla(0, 0%, 100%, 0.3);
        border-radius: 3px;
        border: none;
        align-items: center;
        align-self: center;
        color: #fff;
        display: -webkit-flex;
        display: flex;
        font-weight: 700;
        height: 32px;
        line-height: 32px;
        margin: 0 5px;
        padding: 0 6px;
        white-space: nowrap;
        transition: 0.15s;
        cursor: pointer;
    }
    button:hover,
    select:hover,
    h3:hover {
        background-color: hsla(0, 0%, 100%, 0.459);
    }
    .starred {
        color: gold;
    }
    .board-title {
        margin: 0 5px;
        // line-height: 25px;
        form {
            width: 192px;
        }
        input {
            font-weight: 600;
            font-size: 16.38px;
            line-height: 25px;
            width: 100%;
        }
        input::placeholder {
            color: #172b4d;
        }
        h3 {
            margin: 0;
            padding-left: 20px;
            width: 192px;
            color: white;
        }
        @media (max-width: 550px) {
            h3 {
                width: 115px;
            }
            form {
                width: 115px;
            }
            input {
                width: 115px;
            }
    
        }
    }
    .member {
        line-height: 5px;
        .el-avatar {
            // margin: 0 5px;
            margin: 0 -1px;
            img:hover {
                opacity: 0.7;
            }
        }
    }
}
