.board-imgs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    h4 {
		color: #5e6c84;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: .04em;
		line-height: 16px;
		margin-top: 16px;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
    .imgs-input {
        margin: 4px 0 12px;
        width: 100%;
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        padding: 8px 12px;
        color: #172b4d;
        font-size: 14px;
        width: 100%;
    }
    .imgs-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    img {
        cursor: pointer;
        object-fit: cover;
        height: 100px;
        width: 150px;
        border-radius: 5px;
    }
}