.board-menu {
	position: absolute;
	top: 40px;
	right: 0px;
	background-color: #f4f5f7;
	height: calc(100vh - 40px);
	width: 350px;
	padding: 0 15px;
	border-left: 1px solid #dcdfe5;
	color: #172b4d;
	z-index:1;
	// transform: translateX(100%);
	// transition: transform 0.6s;
	header{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		padding: 0 6px 0 12px;
		width: 100%;
		border-bottom: 1px solid #dcdfe5;
		a{
			position: absolute;
			font-size: 20px;
			right: 15px;
			top: 8px;
			float: right;
		}
	}
	li{
		display: flex;
		align-items: center;
		width: 100%;
		.icon{
			margin: 10px;
			&.bgc{
				background-color: #838c91;
				border-radius: 3px;
				height: 20px;
				width: 20px;
			}
		}
		h4{
			width: 100%;
			margin: 0
		}
	}
	li:hover {
		border-radius: 3px;
		background-color: rgba(226,228,233,255)

	}
	// 	line-height: 3rem;

	// }
}
