// Colors
$clr1: #ffd6ff;
$clr2: #e7c6ff;
$clr3: #d8beff;
$clr4: #c8b6ff;
$clr5: #b8c0ff;
$clr6: #bbd0ff;
$clr7: #b24c63;
;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;